@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/Walpaper2.gif);
    background-size: cover;
}

.selva{
    width: 1100px;
    padding: 30px;
    padding-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.selva .animal{
    max-width: 300px;
    height: 220px;
    position: relative;
    margin: 30px 10px;
    padding: 20px 15px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    box-shadow: 20px;
    background: linear-gradient(to top, #d0b9f8, #fffeff);
}

.selva .animal:hover{
    height: 400px;
}

.selva .animal .image{
    position: relative;
    width: 270px;
    height: 270px;
    top: -60px;
    left: 20px;
    z-index: 1;
}

.selva .animal .image img{
    max-width: 100%;
    border-radius: 10px;
}

.selva .animal .texto{
    position: relative;
    margin-top: -140px;
    text-align: center;
    padding: 10px;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    color: black;
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
}

.selva .animal:hover .texto{
    visibility: visible;
    transition-delay: 0.3s;
    cursor: pointer;
}
